<ion-view  view-title="产生点详情">
    <ion-content style="margin-top: 5%;">
    <div class="list report-content">
        <p style="margin-bottom: 5%;">商家信息</p>
        <div class="item item-icon-left">
            <i class="account-detail-icon icon ion-location"></i>
            城关区小沟头84号
        </div>
        <div class="item item-icon-left">
            <i class="account-detail-icon icon ion-ios-pie" style="font-size: 26px;"></i>
            40m²
        </div>
        <div class="item item-icon-left">
            <i class="account-detail-icon icon ion-home"></i>
            川味小吃
        </div>
        <div class="item item-icon-left">
            <i class="account-detail-icon icon ion-ios-person"></i>
            燕姐
        </div>
        <div class="item item-icon-left">
            <i class="account-detail-icon icon ion-ios-telephone"></i>
            18268246857
        </div>
        <p style="margin-top: 5%;margin-bottom: 5%;">法人信息</p>
        <label class="item item-input" style="margin-bottom: 0px">
            <input type="text" placeholder="法人" style="font-family: Microsoft YaHei">
        </label>
        <label class="item item-input" style="margin-bottom: 0px">
            <input type="number" placeholder="法人身份证号" style="font-family: Microsoft YaHei">
        </label>
        <label class="item item-input" style="margin-bottom: 0px">
            <input type="number" placeholder="法人联系电话" style="font-family: Microsoft YaHei">
        </label>
            <a class="button button-block button-assertive" ng-href="#/tab/report">
                举&nbsp;报
            </a>
    </div>
    </ion-content>
</ion-view>
