<ion-view hide-nav-bar="true" style="z-index: 9999">
    <ion-content style="margin-top: 5%;">
        <div class="list report-content">
            <p style="margin-bottom: 5%;">法人信息</p>
            <label class="item item-input" style="margin-bottom: 0px">
                <input type="text" placeholder="法人" style="font-family: Microsoft YaHei">
            </label>
            <label class="item item-input" style="margin-bottom: 0px">
                <input type="number" placeholder="法人手机号" style="font-family: Microsoft YaHei">
            </label>
            <label class="item item-input" style="margin-bottom: 0px">
                <input type="number" placeholder="法人身份证号" style="font-family: Microsoft YaHei">
            </label>
            <a class="button button-block button-positive" ng-href="#/register-second">
                下一步
            </a>
        </div>
    </ion-content>
</ion-view>
