<ion-view hide-nav-bar="true" style="z-index: 9999">
    <ion-content style="margin-top: 5%;">
        <div class="list report-content">
            <p style="margin-bottom: 5%;">验证码</p>
            <label class="item item-input" style="margin-bottom: 0px">
                <input type="number" placeholder="请输入验证码" style="font-family: Microsoft YaHei">
                <button class="button button-small" style="margin-right: 4%">
                    获取验证码
                </button>
            </label>
            <a class="button button-block button-positive" ng-href="#/register-success">
                完&nbsp;成
            </a>
        </div>
    </ion-content>
</ion-view>
