<ion-view hide-nav-bar="true" style="z-index: 9999">
    <ion-content style="margin-top: 5%;">
        <div class="list report-content">
            <p style="margin-bottom: 5%;">手机号</p>
            <label class="item item-input" style="margin-bottom: 0px">
                <input type="number" placeholder="请输入手机号" style="font-family: Microsoft YaHei">
            </label>
            <a class="button button-block button-positive" ng-href="#/register-third">
                下一步
            </a>
        </div>
    </ion-content>
</ion-view>
