<ion-view  view-title="举报页面">
<ion-content  style="margin-top: 5%;">
<div class="list has-subheader report-content">
    <p style="margin-bottom: 5%;">举报人</p>
    <label class="item item-input item-input-report">
        <input type="text" placeholder="name">
    </label>
    <p style="margin-top: 5%;margin-bottom: 5%;">举报人电话</p>
    <label class="item item-input item-input-report">
        <input type="number" placeholder="phone">
    </label>
    <p style="margin-top: 5%;margin-bottom: 5%;">描述</p>
    <label class="item item-input item-input-report">
        <textarea placeholder="remarks"></textarea>
    </label>
    <img ng-src="img/oil-recovery-img.jpg" style="width: 64px; height: 64px;margin-left: 3%;margin-top: 3%;float: left;">
    <div style="float: left;width: 64px;height: 64px;border: 1px solid #c0c0c0;margin-left: 3%;margin-top: 3%;">
        <div class="ion-ios-plus-empty" style="font-size: 60px;text-align: center;color: #c0c0c0"></div>
    </div>
    <a class="button button-positive button-balanced" style="margin-top: 20px;">
        提&nbsp;交
    </a>
</div>
</ion-content>
</ion-view>