<ion-view hide-nav-bar="true" style="z-index: 9999">
  <ion-content style="margin-top: 5%;">
    <div class="list report-content">
      <p style="margin-bottom: 5%;">商家信息</p>
      <div class="list item-icon-left">
        <label class="item item-input item-icon-left item-icon-right">
          <i class="account-detail-icon icon ion-ios-location-outline"></i>
          <input type="text" placeholder="商家地址" style="padding-left: 40px;font-family: Microsoft YaHei">
          <i class="icon ion-pin" style="font-size: 24px;color: #387ef5"></i>
        </label>
        <label class="item item-input">
          <i class="account-detail-icon icon ion-ios-pie-outline" style="font-size: 26px;"></i>
          <input type="text" placeholder="商家面积/m²" style="padding-left: 40px;font-family: Microsoft YaHei">
        </label>
        <label class="item item-input">
          <i class="account-detail-icon icon ion-ios-home-outline"></i>
          <input type="text" placeholder="商家类型" style="padding-left: 40px;font-family: Microsoft YaHei">
        </label>
        <label class="item item-input">
          <i class="account-detail-icon icon ion-ios-person-outline"></i>
          <input type="text" placeholder="联系人" style="padding-left: 40px;font-family: Microsoft YaHei">
        </label>
        <label class="item item-input">
          <i class="account-detail-icon icon ion-ios-telephone-outline"></i>
          <input type="number" placeholder="联系人电话" style="padding-left: 40px;font-family: Microsoft YaHei">
        </label>
        <a class="button button-positive button-positive" style="margin-top: 20px;">
          提&nbsp;交
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
